<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h3>Id</h3>
<p>{{student.student_id}}</p><hr>
<h3>Name</h3>
<p>{{student.std_name}}</p><hr>
<h3>Department</h3>
<p>{{student.department}}</p><hr>
<h3>Year</h3>
<p>{{student.year}}</p><hr>
</body>
</html>



